/* >> GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Permanent+Marker&display=swap');


/*  */

/* >> RESET */
    *,
    *::after,
    *::before   {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
/*  */


/* >> GENERAL STYLES */
    html    {
        scroll-behavior: smooth;
    }

    body    {
        min-height: 100vh;
    }

    ul  {
        list-style: none;
    }

    a   {
        text-decoration: none;
    }

    span    {
        color: red;
        font-family: "Permanent Marker", cursive;
        font-weight: 400;
        font-style: normal;
    }
/*  */


/* >> HEADER STYLES */
    .header {
        height: 80px;
        padding: 16px;
        width: 100%;

        background-color: white;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
/* > Logo */
    .logo img   {
        width: 100px;
        height: 50%;
    }
/* > Navbar */
    .navbar {
        width: 100%;
    }

    .nav-list   {
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-item  {


    }

    .nav-link  {
        color: black;
        padding:  0 30px;
        height: 50px;
        font-family: "Chivo", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        transition: 300ms;

        display: flex;
        align-items: center;

    }

    .nav-item:first-child  .nav-link {
        color: red;
        background-color: black;
        font-weight: bolder;
        border-radius: 30px;
        transition: 300ms;
    }
    .nav-item:first-child  .nav-link:hover  {
        background: red;
        color: black;
        transition: 300ms;
    }
    .nav-link:hover {
        color: red;
        transition: 300ms;
    }

    .menu-btn   {
        display: none;
    }
/* > Sidebar */
    .sidebar-list   {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        backdrop-filter: blur(3px);
        background-color: rgba(0, 0, 0, 0.397);
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .sidebar-list .nav-item {
        width: 100%;
    }
/*  */


/* >> HERO STYLES */
    .hero   {
        height: 100vh;
        width: 100%;
        padding: 18px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .hero img   {
        width: 300px;
    }

    .hero-intro {
        padding: 16px;
        text-align: center;
        font-size: 30px;

        font-family: "Chivo", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
/*  */


/* >> MAIN STYLES */
/* > About Article */
    #about  {
        padding: 20px;
        background-color: black;
        color: white;
        
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
    }

    .about-logo img  {
        width: 100%;
        text-align: center;

    }

    .about  {
        font-size: 30px;
        padding: 30px;
        text-align: center;
        font-family: "Chivo", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
/* > Play Game */
    .game-container {


        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .heading   {
        font-size: 50px;
    }
    #final  {
        text-align: center;
        font-size: 50px;
    }

    .displayer  {
        border: 2px solid red;
        border-radius: 12px;
        padding: 8px;
        width: 50%;
        height: 100px;

    }

    #display    {
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        background-color: rgba(255, 0, 0, 0.685);
        border-radius: 12px;
        text-align: center;
        font-size: 30px;

    }

    /* > Keys */
    .keys   {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .num-keys   {

        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .num-keys button    {
        width: 80px;
        height: 80px;
        margin-left: 12px;
        margin-right: 12px;
        margin-top: 12px;
        border: none;
        outline: none;
        color: red;
        font-size: 22px;
        background-color: black;
        font-weight: bolder;
        transition: 300ms;
    }

    .num-keys button:hover{
        border-radius: 50%;
        background-color: red;
        color: black;
    }
    .calc-keys button:hover{
        background-color: black;
        color: red;
    }

    .calc-keys  {
        width: 80%;
        padding: 16px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

    }

    .calc-keys button   {
        transition: 300ms;
        width: 104px;
        height: 94px;
        border: 3px solid black;
        border-radius: 16px;
        background-color: red;
        outline: none;
        font-size: 25px;
        font-weight: bolder;
    }

    #submit {
        height: 40px;
        padding: 12px;
        background: white;
        outline: none;
        border: 2px solid red;
        scale: 1.5;
    }
/* > Results */
    .results    {


        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .results h1,
    .results h2,
    .results p {
        color: red;
        font-family: "Permanent Marker", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
    }


    .results p  {
        text-align: center;
        padding: 20px;
    }
/*  */

/* ----------SCROLL ANIMATION STYLE---------- */
    .hidden {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: 1.5s;
    }

    .show   {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }

    .hero-logo  {
        transition-delay: 300ms;
    }
    .hero-intro {
        transition-delay: 100ms;
    }

    .about-logo{
        transition-delay: 200ms;
    }
    .about{
        transition-delay: 400ms;
    }

    #btn-one{
        transition-delay: 100ms;
    }
    #btn-two{
        transition-delay: 200ms;
    }
    #btn-three{
        transition-delay: 300ms;
    }
    #btn-four{
        transition-delay: 400ms;
    }
    #btn-five{
        transition-delay: 500ms;
    }
    #btn-six{
        transition-delay: 600ms;
    }


    #multiply-btn{
        transition-delay: 600ms;
    }
    #add-btn{
        transition-delay: 400ms;
    }
    #minus-btn{
        transition-delay: 500ms;
    }
    #devide-btn{
        transition-delay: 700ms;
    }
/*  */

/* >> RESPONSIVE WEBS */
@media (max-width: 550px) {
    /* >> NAVBAR */
        .sidebar-list   {
            width: 100%;
        }
        .hideOnMobile   {
            display: none;
        }
        .menu-btn   {
            display: block;
        }

        .nav-item:first-child  .nav-link  {
            background: transparent;
            color: white;
        }
        .nav-link {
            color: white;
            border-bottom: 1px solid red;
        }
        .nav-link:hover {
            color: white;
        }
        .nav-link:active {
            color: white;
            background-color: red;
        }
    /*  */

    /* >> HERO STYLES */
        .hero   {
            height: 100vh;
            width: 100%;
            padding: 18px;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        .hero img   {
            width: 200px;
            height: 200px;
        }

        .hero-intro {
            padding: 16px;
            text-align: center;
            font-size: 18px;

            font-family: "Chivo", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
        }
    /*  */

    /* >> MAIIN STYLES */
    /* > About Article */
        #about  {
            padding: 20px;
            background-color: black;
            color: white;
            
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            gap: 1rem;
        }

        .about-logo img  {
            width: 100%;
            text-align: center;

        }

        .about  {
            font-size: 18px;
            font-family: "Chivo", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
        }

    /* > Play Game Article */
        .game-container {


            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
        }

        .heading   {
            font-size: 30px;
        }
        #final  {
            text-align: center;
            font-size: 30px;
        }

        .displayer  {
            border: 2px solid red;
            border-radius: 12px;
            padding: 8px;
            width: 80%;
            height: 50px;
        }

        #display    {
            height: 100%;
            width: 100%;
            border: none;
            outline: none;
            background-color: rgba(255, 0, 0, 0.685);
            border-radius: 12px;
            text-align: center;
            font-size: 18px;
            font-weight: bolder;
        }

    /* > Keys */
        .keys   {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        .num-keys   {

            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        .num-keys button    {
            width: 40px;
            height: 40px;
            margin-left: 12px;
            margin-right: 12px;
            margin-top: 12px;
            border: none;
            outline: none;
            color: red;
            font-size: 22px;
            background-color: black;
            font-weight: bolder;
            border-radius: 12px;
        }

        .num-keys button:hover{
            border-radius: 12px;
            background-color: black;
            color: red;
        }
        .calc-keys button:hover{
            background-color: red;
            color: black;
        }

        .calc-keys  {
            width: 80%;
            padding: 16px;

            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

        }

        .calc-keys button   {
            width: 54px;
            height: 44px;
            border: 3px solid black;
            border-radius: 16px;
            background-color: red;
            outline: none;
            font-size: 25px;
            font-weight: bolder;
        }

        #submit {
            height: 40px;
            padding: 12px;
            background: white;
            outline: none;
            border: 2px solid red;
            scale: 1;
        }
    /* > Results */
        .results    {


            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .results h1,
        .results h2,
        .results p {
            color: red;
            font-family: "Permanent Marker", cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
        }


        .results p  {
            text-align: center;
            padding: 20px;
        }
}